/* 
BEM = Bloque Elemento Modificador

Se usa siempre CLASS no ID

Class = aplicar estilos
Id = aplicar funcionalidades (JavaScript)

.bloque
.bloque__elemento
.bloque__elemento--modificador

1. No user ID
2. No usar etiquetas
3. Que todo sea un key selector
      (Seleccionar justo elemento al cual se le dara el estilo)

*/

/* * {
  box-sizing: border-box;
} */



body {
  margin: 0;
  padding: 2rem;
}

.inner-width {
  max-width: 1200px;
  margin: 0 auto;
}
/* Forma clasica en la que se debe trabajar, pero muy repetitiva INICIO */

.cards {
  max-width: 400px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 15px gray;
}

.cards .card {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 5px;
  background: lightskyblue;
}

.cards .card h3 {
  font-size: 24px;
  font-weight: bold;
}
.cards .card a {
  background: green;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Forma clasica en la que se debe trabajar, pero muy repetitiva FIN */


/* Utilizando Metologia BEM Inicio */

.cards {
  max-width: 400px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 15px gray;
}
/* clave / key selector */
.cards__card {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 5px;
  background: lightskyblue;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
}

.card__readmore {
  display: block;
  cursor: pointer;
}

.card__link {
  background: green;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.card__link--red {
  background: rgb(239, 69, 50);
}

/* Metodologia BEM Final */