/* Variables */

:root {
  --principal-color: #ffffff;
  --secondary-color: #04b4e0;

  --background-color: #f2f7f9;
  --transparent-color: transparent;

  --icon-color: #b5b6b7;
  --titles-color: #222222;
  --subtitles-color: #888;
  --text-color: #555;
}

/* General Styles */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.5rem;
  background: var(--background-color);
  color: var(--text-color);
  display: grid;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--titles-color);
}

/* Background Image */

body {
  background-image: url("../assets/img/fondo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Principal Estructure */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  /* Shadow Layout */
  border-radius: 4rem;
  box-shadow: 0px 0px 75px -5px rgba(0, 0, 0, 0.25);
}

/* Blue Lateral Bar */

.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  max-height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30%;

  background: var(--secondary-color);
  color: var(--principal-color);
}

.user-info__img-container {
  position: relative;
  display: inline-block;
  width: 18rem;
  height: 18rem;
  margin-top: 7rem;
  padding: 1rem;
  border: 3px solid var(--principal-color);
  border-radius: 50%;
  z-index: 1;
}

.user-info__img {
  width: 100%;
}

/* Dots Gradient Styles */
.user-info__img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 5%;
  left: 9%;
  z-index: -1;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  border-radius: 50%;
  opacity: 0.4;
}

.user-info__name {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--principal-color);
  margin-top: 2.6rem;
}

.user-info__job {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--principal-color);
}

.user-info__links {
  margin-bottom: 3.6rem;
}

.links__socials {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  opacity: 0.9;
  border-radius: 50%;
  cursor: pointer;
  transition: all 75ms ease-in-out;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-info__buttons {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-info__btn {
  border: 2px solid var(--principal-color);
  border-radius: 5rem;
  padding: 1.3rem 3rem;
  color: var(--principal-color);
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.2);
  transition: all 75ms ease-in-out;
}

.user-info__btn:hover {
  background-color: var(--principal-color);
  color: var(--secondary-color);
}

.user-info__btn:active {
  transform: translateY(2px);
}

.user-info__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}

/* Principal Content */
.layout__content {
  grid-area: content;
  background: var(--secondary-color);
  border-radius: 0 10rem 10rem 0;
}

.content__page {
  height: 80vh;
  min-height: 100%;
  background: var(--principal-color);
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__name {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.page__job {
  font-size: 2.1rem;
  font-weight: lighter;
  color: var(--subtitles-color);
}

/* Lateral Navigation Menu */

.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -120px;
  min-width: 11rem;
  background-color: var(--transparent-color);
  z-index: 999;
}

.menu__list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  min-height: 32rem;
  padding-block: 2rem;
  margin-left: 1rem;

  background-color: var(--principal-color);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 5rem;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__icon {
  color: var(--icon-color);
  font-size: 2.8rem;
  transition: all 150ms ease-in-out;
}

.menu__option:hover .menu__icon {
  color: var(--secondary-color);
}

.menu__overlay {
  position: absolute;
  z-index: -1;
  display: block;
  opacity: 0;
  right: 0;
  margin-top: -3rem;
  padding: 0.5rem 1rem;
  color: var(--principal-color);
  background: var(--secondary-color);
  white-space: nowrap;
  transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 100%;
}

/* about me */

.content__about {
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow-y: auto;

  display: block;
}

.about__header {
  display: inline-block;
  margin-bottom: 4.5rem;
}

.about__title {
  font-size: 3.2rem;
  position: relative;
}

.about__title::after {
  content: "";
  position: absolute;
  top: 18px;
  right: -25px;
  width: 50px;
  height: 30px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--secondary-color),
    var(--secondary-color) 1px,
    transparent 0px,
    transparent 100%
  );
  opacity: 0.5;
  background-size: 6px 6px;
}

.title__color {
  color: var(--secondary-color);
}


/* about personal info */

.about__personal-info {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  margin-bottom: 5rem;
}

.personal-info__bio {
  flex-basis: 56%;
}

.personal-info__description {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.personal-info__data {
  flex-basis: 44%;
}

.personal-info__option {
  margin-bottom: 0.75rem; 
}

.personal-info__title {
  margin-right: 0.5rem;
  color: var(--secondary-color);
  font-weight: 600;
}

/* about services */

.about__services {
  width: 100%;
  margin-bottom: 3rem;
}

.services__header {
  display: inline-block;
  position: relative;
  padding-right: 1.2rem;
  margin-bottom: 2.5rem;
}

.services__title {
  font-size: 2.1rem;
}

.services__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: 20px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--secondary-color),
    var(--secondary-color) 1px,
    transparent 0px,
    transparent 100%
  );
  opacity: 0.5;
  background-size: 6px 6px;
}

.services__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.services__service {
  flex-basis: calc(50% - 3rem);
}

.service__icon .fa-solid {
  color: var(--secondary-color);
  font-size: 3.8rem;
}

.service__title {
  font-size: 1.8rem;
  margin-block: 0.5rem;
}

.service__description {
  font-size: 1.5rem;
  text-align: justify;
}